* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

#container {
  width: 80vw;
}

.title {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  max-width: 400px;
  height: 20px;
}

.navItem {
  width: 70px;
}

.navItem:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

.showCase {
  height: 100vh;
  background: url('./photos/showcase.jpg') no-repeat center center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menuItem {
  display: flex;
  flex-direction: row;
}

.menuItem > .image > img {
  max-width: 100px;
  max-height: 100px;
  background-size: contain;
}
