* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

#container {
  width: 80vw;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.showCase {
  height: 100vh;
  background: url('./photos/showcase.jpg') no-repeat center center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menuItem {
  display: flex;
  flex-direction: row;
}

.menuItem > .image > img {
  max-width: 100px;
  max-height: 100px;
  background-size: contain;
}
