* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4c45d
  ;
}

#container {
  width: 80vw;
}

.title {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  max-width: 400px;
  height: 20px;
}

.navItem {
  width: 70px;
  border: #fff 1px solid;
  text-align: center;
}

.navItem:hover, .special{
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #fcba03;
}

.showCase {
  height: 80vh;
  background: url('./photos/showcase.jpg') no-repeat center center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menuContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuSlogan {
  margin-top: 50px;
}

.menuItem {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  border: #fff solid 2px;
  border-radius: 2px;
}

.menuItem:nth-child(odd){
  margin-right: 25px;
}


.menuItem:nth-child(even){
  margin-left: 25px;
}

.menuItem > .image > img {
  max-width: 200px;
  max-height: 200px;
  background-size: contain;
}

.menuItem > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer > * {
  margin: 10px;
}
